name: Test MFEM example

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  eikonal:
    runs-on: ${{ matrix.platform }}
    container: ${{ matrix.container }}
    strategy:
      fail-fast: true
      matrix:
        platform: ["ubuntu-24.04", "ubuntu-24.04-arm"]
        container: ["ghcr.io/methods-group/proximalgalerkin:v0.5.0"]

    steps:
      - uses: actions/checkout@v6

      - name: Copy eikonal script from repository
        run: |
          cp ./examples/09_eikonal/ex40.cpp /root/LVPP/mfem/examples

      - name: Run Eikonal on Mobius strip
        working-directory: /root/LVPP/mfem/examples
        run: |
          make ex40
          ./ex40 -step 10.0 -mi 10
      - name: Run parallel script on star and ball
        working-directory: /root/LVPP/mfem/examples
        run: |
          make ex40p
          ./ex40p -step 10.0 -mi 10
          ./ex40p -step 10.0 -mi 10 -m ../data/ball-nurbs.mesh
